<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Phone Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="btn my-2 ml-auto" routerLink="/contacts/add">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</nav>
