<div class="form-wrapper my-2">
  <form [formGroup]="form">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" aria-errormessage="nameError" required="required" formControlName="name">
      <small id="nameError" class="form-text text-danger">
        {{!form.get('name').valid && isSubmitted ? 'Name is required' : ''}}
      </small>
    </div>
    <div class="form-group">
      <label>Number</label>
      <input type="text" class="form-control" aria-errormessage="numberError" required="required"
             formControlName="number">
      <small id="numberError" class="form-text text-danger">
        {{ !form.get('number').valid && isSubmitted ? 'Number is required' : ''}}
      </small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input type="text" class="form-control" aria-describedby="tagsHelp" formControlName="tags">
      <small id="tagsHelp" class="form-text text-muted">Add comma (,) separated Tag values.</small>
    </div>
  </form>
</div>
